.header img {
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: #0a0909f5;
    line-height: 4rem;
    font-size: 2rem;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin: 1rem;
    padding: 0.6rem;
}
.header nav a:hover{
    background-color: #808080d7;
}